<nav class="navbar bg-primary bg-gradient bg-opacity-75">
  <div class="container-fluid">
    <a class="navbar-brand text-dark"><h3>Welcome To Dashboard!</h3></a>
      <a href="/logout" class="a btn btn-outline-warning text-decoration-none">Logout</a>
  </div>
</nav>